<!--begin::Page title-->
<div class="page-title {{#if (eq visible 'desktop')}}d-lg-flex d-none{{else}}d-lg-none d-flex{{/if}} align-items-center flex-wrap me-3 mb-5 mb-lg-0">
{{!-- <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0"> --}}
  <!--begin::Title-->
  <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">
    {{#if (block "displayTitle")}}
      {{{block "displayTitle"}}}
    {{else}}
      {{{block "title"}}}
    {{/if}}
    {{#if (block "description")}}
      <!--begin::Separator-->
      <span class="h-20px border-1 border-gray-200 border-start ms-3 mx-2 me-1"></span>
      <!--end::Separator-->
      <!--begin::Description-->
      <span class="text-gray-700 fs-7 fw-bold ms-2">{{{block "description"}}}</span>
      <!--end::Description-->
    {{/if}}
  </h1>
  <!--end::Title-->
</div>
<!--end::Page title-->